.container {
    background-image: url('../../assets/landingPage.jpg');
    background-size:cover;
    height: 610px;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}

.start {
    margin-top: 240%;
    width: 300%;
    height: 3rem;
    border-radius: 10px;
    font-size: 2em;
    color:rgb(241, 247, 247);
    background-color: #bb37a7;
    border: none;    
 }
  
  .start:hover {
    color:rgb(241, 247, 247);
    background-color:#4338c6;
    cursor: pointer;
  }