.containerForm {
  background-image: url('../../assets/imgForm.jpg');
  background-size:cover;
  height: 640px;
  display: flex;
  justify-content: center; 
  align-items: center; 
}
.container {
  width: 500px;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(32, 22, 122, 0.806);
  color: white;
  font-weight: 600;
  border-radius: 20px;
  box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.6);
  }
  
  
.submit {
    margin-top: 5%;
    width: 60%;
    height: 2.5rem;
    border-radius: 10px;
    font-size: 1em;
    color:rgb(241, 247, 247);
    background-color:rgba(8, 2, 56, 0.548);
    border: none;
 }
  
  .submit:hover {
    color: rgb(241, 247, 247);
    background-color: #bb37a7;
    cursor: pointer;
  }
  .inputContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.inputContainer label {
    margin-right: 10px; /* Espacio entre el label y el input */
}

.input {
    margin-top: 0.2%;
    width: 100%;
    padding: 2%;
    background-color: rgb(253, 254, 254);
    border-radius: 5px;
    border: none;
  }
