.containerForm {
  background-image: url('../../assets/imgForm.jpg');
  background-size:cover;
  height: 610px;
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
}
.container {
    width: 440px;
    padding: 2%;
    margin: auto;
    margin-left: 15%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(32, 22, 122, 0.548);
    border-radius: 20px;
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.6);
  }
  
  
.submit {
    margin-top: 5%;
    width: 50%;
    height: 3rem;
    border-radius: 10px;
    font-size: 1em;
    color:rgb(241, 247, 247);
    background-color:rgba(32, 22, 122, 0.548);
    border: none;
 }
  
  .submit:hover {
    color: rgb(241, 247, 247);
    background-color: #bb37a7;
    cursor: pointer;
  }

.input {
    margin-top: 1%;
    margin-bottom: 1%;
    width: 100%;
    padding: 2%;
    background-color: rgb(253, 254, 254);
    border-radius: 5px;
    border: none;
  }

.error {
    margin: 5px;
    font-size: 1.6rem;
    font-weight: 600;
    color:darkred;  
}
