.containerAll {
  background-image: linear-gradient(0deg , #3f5efb, #fc466b);
  max-width: 1000px;
  margin: 100px auto 0;
  padding: 20px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(213, 24, 178, 0.3); /* Agrega una sombra alrededor del contenedor */
  transition: box-shadow 0.3s; /* Agrega una transición suave al cambio de sombra */
  margin-bottom: 20px;
}

.containerAll:hover {
  box-shadow: 0 0 20px rgba(22, 24, 163, 0.6); /* Incrementa el brillo cuando se pasa el mouse sobre el contenedor */
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color:#ccc;
}

.imagenContainer {
  margin-bottom: 20px;
}

.imagenContainer img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.detail {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  color:#ccc;
}

.description {
  font-size: 12px;
  font-weight:lighter;
  margin-bottom: 10px;
  color:#ccc;
}


