.hero {
  display: inline-block;
  position: relative;
  width: 300px;
  min-width: 300px;
  height: 300px;
  border-radius: 20px;
  overflow:hidden;
  box-shadow: 5px 5px 20px rgba(207, 212, 241, 0.3);
  margin: 20px;
}

.hero img {
  width: 120%;
  height: 100%;
  object-fit:contain
}

.containerText {
  background-image: linear-gradient(0deg , #3f5efb, #fc466b);
  border-radius: 30px;
  position: absolute;
  top: 55%;
  left: -5px;
  height: 65%;
  width: 108%;
  transform: skew(19deg, -9deg);
}
.title {
  position: absolute;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  font-weight: bold;
  right: 20px;
  bottom: 15%;
}
.description {
  position: absolute;
  color: #fff;
  font-weight: 900;
  right: 20px;
  bottom: 1%;
}
