.containerHome {
  background-color: #040420;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
   
}

.title {
  color: white;
  margin-top: 100px;
}

.containerDrop {
  margin-top:5px;
  width: 600px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.dropInput {
  width: 140px;
  padding: 4px;
  border: 2px solid #ccc;
  border-radius: 5px; 
  outline: none; /* Quita el resaltado al enfocar */
  font-size: 14px;
  margin-right: 10px;
 }

