.container {
  position: fixed;
  display: flex;
  top: 0px;
  width: 100%;
  height: 80px;
  justify-content:flex-start;
  align-items: center;
  background-color: #660759af;
  z-index: 5;
}

.navigationButton {
  width: 14rem;
  height: 2.5rem;
  font-size: large;
  color: rgb(206, 206, 206);
  background-color: #ffffff00;
  border-style: hidden;
}

.navigationButton:hover {
  color: white;
  cursor: pointer;
}
